* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--black-color);
}

p,
a,
li {
    list-style: none;
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 1.5rem;
    /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
    background-color: var(--white-color);
    /* color of the scrollbar track */
}

::-webkit-scrollbar-thumb {
    background-color: var(--blue-color);
    /*colorofthescrollbarhandle*/height: 2rem;
    border: .3rem solid #ffffff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-border-radius: 5rem;
}

:root {
    --bg-color: #f2ffd0;
    --black-color: #000;
    --white-color: #fff;
    --blue-color: #0000ff;
    --btn-hover-color: #0000d3;
    --lightgreen-color: #dfefff;
    --para-color: #272727;
    --pink-color: #ff40f5;
    --light-green: #7fff00;
}

.container {
    max-width: 142rem;
    margin: 0 auto;
    padding: 0 2.4rem;
}

.grid-two--cols {
    grid-template-columns: repeat(2, 1fr);
}

.grid-three--cols {
    grid-template-columns: repeat(3, 1fr);
}

.grid-four--cols {
    grid-template-columns: repeat(4, 1fr);
}

.section-head {
    margin: 1rem 0;
    text-align: start;
}

.section-heading {
    margin-right: .5rem;
    padding: 1.2rem 2.4rem;
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--para-color);
    background-color: #fff;
    box-shadow: rgba(78, 78, 241, 0.4) 0 .1rem 2rem 0;
    border-radius: 5rem;
    -webkit-border-radius: 5rem;
    -moz-border-radius: 5rem;
    -ms-border-radius: 5rem;
    -o-border-radius: 5rem;
}

.button {
    display: inline-block;
    margin-top: 1.4rem;

    button {
        padding: 1.1rem 2.2rem;
        background-color: var(--white-color);
        border: none;
        outline: .2rem solid #fd92eb;
        font-size: 1.4rem;
        font-weight: 600;
        color: var(--black-color);
        border-radius: 100rem;
        -webkit-border-radius: 100rem;
        -moz-border-radius: 100rem;
        -ms-border-radius: 100rem;
        -o-border-radius: 100rem;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all .3s linear;
        -webkit-transition: all .3s linear;
        -moz-transition: all .3s linear;
        -ms-transition: all .3s linear;
        -o-transition: all .3s linear;
    }

    button::after {
        content: '';
        position: absolute;
        width: 102%;
        height: 105%;
        border-radius: 100rem;
        background-image: linear-gradient(to bottom right, #008cff, #e100ff);
        z-index: -1;
    }

    button:hover {
        z-index: 0;
        color: var(--white-color);
        box-shadow: .2rem 0 2rem #008cff, .2rem 0 2rem #e100ff;
        cursor: pointer;

        i {
            color: var(--white-color);
        }
    }
}

.button:nth-of-type(2) {
    margin-right: 2.4rem;
}

i {
    padding-right: 1rem;
    font-size: 1.2rem;
    color: var(--black-color);
}

.fa-diamond {
    padding: 0 1rem;
}

.main-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-image img {
    max-width: 100%;
    height: auto;
    border-radius: .5rem;
}

.section-head--title {
    text-align: center;
    margin: 4rem 0 1.5rem 0;
    padding: 1rem;
}

.section-title {
    padding: 1.1rem 2.2rem;
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--black-color);
    background-color: var(--white-color);
    box-shadow: rgba(78, 78, 241, 0.4) 0 .1rem 2rem 0;
    border-radius: 5rem;
    -webkit-border-radius: 5rem;
    -moz-border-radius: 5rem;
    -ms-border-radius: 5rem;
    -o-border-radius: 5rem;
}

.section-subtitle {
    padding-bottom: 1.5rem;
    color: var(--black-color);
    text-align: center;
    font-size: 2.4rem;
}

.skill-para {
    font-size: 1.4rem;
    padding: .5rem 0;
    line-height: 1.8;
    letter-spacing: 0.02rem;
    font-weight: 500;
    /* text-align: justify; */
    color: var(--para-color);
}

.port-head {
    font-size: 1.6rem;
    letter-spacing: 0.03rem;
    padding: .5rem 0;
}

.section-sub--heading {
    padding: .2rem 0;
    font-size: 1.4rem;
    letter-spacing: .1rem;
}

.star-img img {
    top: -20rem;
    left: 45rem;
    width: 200px;
    height: auto;
    position: relative;
    animation-name: moveStar;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.section-navbar {
    width: 100%;
    background-image: linear-gradient(to right, #ff40f5, #5b5bf8, #ff40f5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 120rem;
        padding: 1.2rem;
    }

    .logo a {
        font-size: 2rem;
        font-weight: bold;
        color: var(--white-color);
    }

    .navbar ul {
        list-style: none;
        display: flex;
        flex-grow: 1;
        /* Allow navbar to grow and take up available space */
    }

    .navbar ul li {
        margin: 0 1.5rem;
    }

    .navbar ul li a {
        text-decoration: none;
        color: var(--white-color);
        font-size: 1.4rem;
    }
}

figure {
    text-align: center;
}

figcaption {
    margin-top: 1rem;
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 1.8;
}

.section-hero {
    max-width: 100%;
    min-height: 100vh;
    margin-top: 3.5rem;
    position: relative;
    display: grid;
    justify-content: center;
    align-items: center;
    background-image: url(/Images/mainback.webp);
    background-size: cover;

    .container {
        max-width: 120rem;
        gap: 2.4rem;
        display: grid;
        justify-content: center;
        align-items: center;
    }

    /* .main-heading {
        font-size: 6.4rem;
        border: none;
        color: transparent;
        -webkit-text-stroke: 1px var(--blue-color);
        transition: all 0.9s ease-out 0s;
        -webkit-transition: all 0.9s ease-out 0s;
        -moz-transition: all 0.9s ease-out 0s;
        -ms-transition: all 0.9s ease-out 0s;
        -o-transition: all 0.9s ease-out 0s;
    }

    .main-heading:hover {
        color: var(--blue-color);
        -webkit-text-stroke: none;
        text-shadow: .2rem .2rem .4rem rgba(255, 0, 255, 0.5);
    } */

    .hero-heading {
        font-size: 6.4rem;
        background-image: linear-gradient(to right, #008afc, #b20ac9);
        background-clip: text;
        color: transparent;
    }

    .main-post {
        font-size: 3.2rem;
        background-image: linear-gradient(to right, #2c9af5, #c201db 50%);
        background-clip: text;
        color: transparent;
    }

    .change-text{
        position: relative;
        display: inline-block;
        color: #008afc;
        padding: .2rem 1.2rem .7rem 1.2rem;
        background-color:#fff;
        border-radius: 5rem;
    }

    .main-para {
        padding: 1.2rem 0;
        color: var(--para-color);
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.8;
        letter-spacing: 0.01rem;
    }
}

.section-aboutme {
    max-width: 100%;
    min-height: 100vh;
    padding: 2.4rem 0;
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: hsl(198, 71%, 97%);

    .container {
        max-width: 120rem;
        padding: 3.2rem;
        /* background-image: linear-gradient(to bottom right, #9096f3, #f5e9d2, #b0eff1); */
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        border-radius: 3rem;
        -webkit-border-radius: 3rem;
        -moz-border-radius: 3rem;
        -ms-border-radius: 3rem;
        -o-border-radius: 3rem;
    }

    .grid {
        display: grid;
        gap: 3.2rem;
    }

    .image-container {
        position: relative;
        display: inline-block;
    }

    .section-head {
        margin-top: -1rem;
        margin-bottom: 2rem;
    }

    .section-content {
        padding: 2.4rem;
    }
}

.section-testrange{
    display: grid;
    justify-content: center;
    align-items: center;
    padding-bottom: 2.4rem;
    width: 100%;
    min-height: 95vh;
    background-image: linear-gradient(to bottom right, #cee7e3, #fee4ff, #d5dfff);

    .container{
        display: grid;
        gap: 2.4rem;
        max-width: 110rem;
        width: 100%;
    }

    .test-type{
        display: flex;
        justify-content: space-between;
        background-color:var(--white-color);
        transition: all .5s linear;
        -webkit-transition: all .5s linear;
        -moz-transition: all .5s linear;
        -ms-transition: all .5s linear;
        -o-transition: all .5s linear;
        outline: .1rem solid var(--pink-color);
}

    .test-type:hover{
        box-shadow: rgba(204, 0, 255, 0.5) 0px 7px 20px 0px;
    }

    .content{
        padding: 2.4rem;
    }

    .type-image{
        display: flex;
    }
    .type-image img {
        max-width: 100%;
    }

    .port-head{
        font-size: 2rem;
    }
    
}

.section-skills {
    max-width: 100%;
    min-height: 100vh;
    padding: 2.4rem 0;
    display: grid;
    align-items: center;
    justify-content: center;

    .grid {
        max-width: 130rem;
        display: grid;
        gap: 2.4rem;
    }

    .skill-container {
        padding: 2.4rem;
        width:35rem;
        transition: all .5s linear;
        /*box-shadow: 0 .2rem .3rem rgba(0, 0, 0, 0.2);
        */border-radius: 1rem;
        -webkit-border-radius: 1rem;
        -moz-border-radius: 1rem;
        -ms-border-radius: 1rem;
        -o-border-radius: 1rem;
        transition: all .5s linear;
        -webkit-transition: all .5s linear;
        -moz-transition: all .5s linear;
        -ms-transition: all .5s linear;
        -o-transition: all .5s linear;
    }

    .skill-container:hover {
        box-shadow: 0 .5rem var(--blue-color);
        box-shadow: rgba(204, 0, 255, 0.5) 0px 7px 25px 0px;
    }

    .skill-container:nth-of-type(1) {
        background-color: #ffe6e6;
        /* background-image: url(/Images/manual.png); */
    }

    .skill-container:nth-of-type(2) {
        background-color: #dfffdf;
        /* background-image: url(/Images/document.png); */
    }

    .skill-container:nth-of-type(3) {
        background-color: rgb(233, 213, 252);
        /* background-image: url(/Images/document.png); */
    }

    .skill-container:nth-of-type(4) {
        background-color: #CBF6DC;
        /* background-image: url(/Images/api.png); */
    }

    .skill-container:nth-of-type(5) {
        background-color: #CBD5F6;
        /* background-image: url(/Images/explore.png); */
    }

    .skill-container:nth-of-type(6) {
        background-color: #FFDDD7;
        /* background-image: url(/Images/usability.png); */
    }


    .centered-content {
        width: 95%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-image: linear-gradient(to left, #aff5e9, #f6b6f8, #d3f7b7);
        margin-top: 2.4rem;
        padding: 2rem 1.2rem;
        border-radius: 5rem;
        -webkit-border-radius: 5rem;
        -moz-border-radius: 5rem;
        -ms-border-radius: 5rem;
        -o-border-radius: 5rem;

        i {
            font-size: 1.6rem;
            color:#ff6347;
        }
    }

    .content-item {
        text-align: center;
        margin: 0 1rem;
    }

}

.section-Branding{
    width: 100%;
    background-color: hsl(198, 71%, 97%);

    .container{
        padding: 2rem 0;
        overflow: hidden;
        width: 100%;
        white-space: nowrap;
    }

    .brand-head{
        padding: 3rem 0;
        display: inline-block;
        font-size: 9.6rem;
        border: none;
        color: transparent;
        -webkit-text-stroke: .1rem var(--black-color);
        animation: moveText 25s linear infinite;
        -webkit-animation: moveText 25s linear infinite;
    }

    .brand-subhead{
        padding: 3rem 0;
        display: inline-block;
        font-size: 9.6rem;
        animation: moveRText 25s linear infinite;
        -webkit-animation: moveRText 25s linear infinite;
    }
   
}

.section-experience {
    padding: 2.4rem 0;
    max-width: 100%;
    height: auto;
    display: grid;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to top, #fff1eb 0%, #d0eefc 100%);

    .container {
        gap: 2rem;
        padding: 4rem 2rem;
        max-width: 120rem;
        display: grid;
        justify-content: center;
        align-items: center;
    }

    .companies-img {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .companies-img img {
        width: 80%;
        height: auto;
    }

}

.section-education {
    padding: 2.4rem 0;
    max-width: 100%;
    height: auto;
    display: grid;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to top, #cad4ff 0%, #ffedfb 100%);

    .container {
        gap: 5rem;
        padding: 4rem 2rem;
        max-width: 120rem;
        display: grid;
        justify-content: center;
        align-items: center;
    }

    .education-img {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .education-img img {
        width: 60%;
        height: auto;
    }

}

.section-blog {
    max-width: 100%;
    padding: 2.4rem 0;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 98%);

    .container {
        max-width: 120rem;
        display: grid;
        align-items: center;
        justify-content: center;
        gap: 3rem;
    }

    .blog-container {
        margin-bottom: 2.4rem;
        border-radius: 1rem;
        padding: 1.2rem;
        transition: all .3s linear;
    }

    .blog-container:nth-of-type(1) {
        background-color: #ffeaea;
    }

    .blog-container:nth-of-type(2) {
        background-color: #d1dcff;
    }

    .blog-container:nth-of-type(3) {
        background-color: #ddffdf;
    }

    .blog-container:hover {
        box-shadow: rgba(102, 115, 226, 0.4) 0px 10px 50px;
    }

    .blog-image {
        flex: 1;
        overflow: hidden;
    }

    .blog-image img {
        display: block;
        max-width: 100%;
        height: auto;
        transform: scale(0.9);
        border-radius: 1rem;
        transition: all .5s linear;
    }

    .blog-image img:hover {
        transform: scale(0.95);
    }

    .blog-content {
        padding: 0 2.2rem;
    }

    .blog-date {
        font-size: 1.2rem;
        font-weight: 600;
        padding: .5rem 0;
    }

    .blog-link {
        display: inline-block;
        align-items: center;
        text-decoration: none;
        background-color: var(--white-color);
        margin: .5rem 0;
        padding: 1rem 2rem;
        transition: all .3s linear;
        border-radius: 3rem;
        -webkit-border-radius: 3rem;
        -moz-border-radius: 3rem;
        -ms-border-radius: 3rem;
        -o-border-radius: 3rem;
        -webkit-transition: all .3s li;
        -moz-transition: all .3s li;
        -ms-transition: all .3s li;
        -o-transition: all .3s li;
    }

    .blog-link a {
        font-size: 1.4rem;
        font-weight: 600;
        letter-spacing: .05rem;
        color: var(--black-color);
        transition: all .3s linear;
        -webkit-transition: all .3s linear;
        -moz-transition: all .3s linear;
        -ms-transition: all .3s linear;
        -o-transition: all .3s linear;
    }

    .blog-link:hover {
        box-shadow: rgba(102, 115, 226, 0.4) 0px 10px 50px;
    }

    .blog-link a:hover {
        color: var(--blue-color);
    }
}

.section-portfolio {
    max-width: 100%;
    min-height: 100vh;
    padding: 2.4rem 0;
    background-image: linear-gradient(to bottom right, #cee7e3, #fee4ff, #d5dfff);

    .container {
        max-width: 120rem;
        margin: 0 auto;
    }

    .tabs {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        background-image: linear-gradient(to left, #aff5e9, #f6b6f8, #d3f7b7);
        border-radius: .5rem;
        -webkit-border-radius: .5rem;
        -moz-border-radius: .5rem;
        -ms-border-radius: .5rem;
        -o-border-radius: .5rem;
    }

    .tab {
        margin: .5rem 0;
        padding: .5rem 2rem;
        border: none;
        cursor: pointer;
        font-size: 1.6rem;
        font-weight: 600;
        border-radius: .5rem;
        -webkit-border-radius: .5rem;
        -moz-border-radius: .5rem;
        -ms-border-radius: .5rem;
        -o-border-radius: .5rem;
    }

    .tab.active {
        background-color: var(--blue-color);
        color: var(--white-color);
    }

    .content {
        display: none;
        padding: 20px;
        margin: 1rem 0;
        /* border: 1px solid #ccc; */
    }

    .content.active {
        display: block;
    }

    .grid {
        display: grid;
        align-items: center;
        justify-content: space-between;
        gap: 2.4rem;
    }

    .portfolio-content {
        width: auto;
        padding: 2rem;
        text-align: center;
        box-shadow: rgba(33, 35, 38, 0.4) 0px 10px 10px -10px;
        background-color: var(--white-color);
        /* outline: .01rem solid var(--pink-color); */
        /* background-image: linear-gradient(to bottom, #d5f8f2, #c3d3fd); */
        border-radius: .5rem;
        -webkit-border-radius: .5rem;
        -moz-border-radius: .5rem;
        -ms-border-radius: .5rem;
        -o-border-radius: .5rem;
        transition: transform 0.5s ease, box-shadow 0.5s ease;
        -webkit-transition: transform 0.5s ease, box-shadow 0.5s ease;
        -moz-transition: transform 0.5s ease, box-shadow 0.5s ease;
        -ms-transition: transform 0.5s ease, box-shadow 0.5s ease;
        -o-transition: transform 0.5s ease, box-shadow 0.5s ease;
}

    .portfolio-content:hover {
        /* box-shadow: rgba(102, 115, 226, 0.5) 0 1rem 2rem; */
        box-shadow: rgba(204, 0, 255, 0.5) 0px 7px 25px 0px;
    }

    .port-image {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .port-image img {
        display: block;
        width: 3rem;
        height: auto;
    }

    .port1-image {
        display: flex;
    }

    .port1-image img {
        display: block;
        max-width: 100%;
        padding: .5rem;
    }

}

.section-discussion {
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to left, #aff5e9, #f6b6f8, #d3f7b7);

    .container {
        max-width: 110rem;
        display: grid;
        justify-content: center;
        align-items: center;
        padding: 2.4rem;
    }

    .project-image {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .project-image img {
        max-width: 60%;
        height: auto;
        border-radius: 3rem;
        -webkit-border-radius: 3rem;
        -moz-border-radius: 3rem;
        -ms-border-radius: 3rem;
        -o-border-radius: 3rem;
    }

    .details-head {
        font-size: 3rem;
        font-weight: 700;
    }

    .details-para {
        font-size: 1.6rem;
        color: var(--para-color);
        font-weight: 500;
        padding: 1.2rem 0;
    }

}

.section-contactme {
    max-width: 100%;
    min-height: 100vh;
    padding: 2.4rem 0;

    .container {
        max-width: 80rem;
        display: grid;
        justify-content: center;
        /* background-color: #000000; */
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        overflow: hidden;
        border-radius: 1rem;
        -webkit-border-radius: 1rem;
        -moz-border-radius: 1rem;
        -ms-border-radius: 1rem;
        -o-border-radius: 1rem;
        background-image: linear-gradient(-225deg, #b8c6f7 0%, #c1ffe2 55%, #FFBAC3 100%);
    }

    .contact-info {
        padding: 2.4rem;
    }

    .contact-info a{
        color: var(--blue-color);
        font-size: 1.4rem;
        line-height: 3;
    }

    .contact-form {
        padding: 2.4rem;
    }

    .info-head {
        font-size: 1.6rem;
        padding-bottom: 1.2rem;
    }

    Label {
        display: block;
        padding-bottom: .2rem;
        font-size: 1.4rem;
        color: #818181;
        font-weight: 500;
    }

    input,
    textarea {
        width: 100%;
        height: 40px;
        margin-bottom: 1.5rem;
        padding: 1rem;
        font-size: 1.4rem;
        border: none;
        border: 1px solid #858585;
        border-radius: .5rem;
        -webkit-border-radius: .5rem;
        -moz-border-radius: .5rem;
        -ms-border-radius: .5rem;
        -o-border-radius: .5rem;
    }

    textarea {
        height: 8rem;
        resize: vertical;
    }

    input:focus-visible {
        outline: none;
        box-shadow: 0 .2rem 0 var(--blue-color);
    }

    textarea:focus-visible {
        outline: none;
        box-shadow: 0 .2rem 0 var(--blue-color);
    }

}

.section-footer {
    background-image: linear-gradient(to left, #aff5e9, #f6b6f8, #d3f7b7);
    padding: 4rem 6rem;    

    .container {
        max-width: 120rem;
        display: grid;
        justify-items: center;
        align-items: center;
    }

    .footer-section {
        flex: 1 1 20rem;
    }

    .footer-section h3 {
        margin-bottom: 1.5rem;
        font-size: 1.4em;
    }

    .footer-section ul li {
        margin-bottom: 10px;
    }

    .footer-section ul li a {
        font-size: 1.4rem;
        font-weight: 500;
        color: var(--para-color);
        transition: color 0.3s ease;
    }

    .footer-section ul li a:hover {
        color: var(--btn-hover-color);

        i{
            color: var(--btn-hover-color);
        }
    }

    .social-links {
        display: grid;

        i {
            padding-left: 1.2rem;
            font-size: 1.6rem;
        }
    }

    .social-links li {
        margin: 0 10px;
    }

    .social-links li a {
        display: block;
        width: 40px;
        height: 40px;
        line-height: 40px;
        border-radius: 50%;
        background-color: #fff;
        transition: all .5s linear;
        -webkit-transition: all .5s linear;
        -moz-transition: all .5s linear;
        -ms-transition: all .5s linear;
        -o-transition: all .5s linear;
    }

    .social-links li a:hover {
        background-color: #f6b6f8;
    }  

    p {
        font-size: 1.4rem;
        margin-top: 1.2rem;
        color: #858585;
        text-align: center;
    }
}

@keyframes moveStar {
    0% {
        top: -20rem;
        left: 45rem;
    }

    /* 25%{
        top:25rem;
        left:25rem;
    } */
    50% {
        top: -15rem;
        left: 45rem;
    }

    100% {
        top: -20rem;
        left: 45rem;
    }
}

@keyframes moveText {
    
    0% {
        transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
    }
    
    100% {
        transform: translateX(100%);
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
    }
}

@keyframes moveRText {
    0% {
        transform: translateX(100%);
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
    }  
}

@media(max-width:786px) {

    html {
        font-size: 58%;
    }

    .grid-two--cols {
        grid-template-columns: 1fr;
    }

    .grid-three--cols {
        grid-template-columns: 1fr;
    }

    .grid-four--cols {
        grid-template-columns: 1fr;
    }

    .section-head--title {
        margin: 7rem 0 1.5rem 0;
    }

    .section-head {
        text-align: center;
    }

    .section-hero .container {
        text-align: center;
    }

    .section-discussion .container {
        text-align: center;
    }

    .main-image {
        display: none;
    }

    .image-container img {
        display: none;
    }
}



